<div class="container toggle-lists mt-4">
  <div class="d-flex justify-content-center">
    <div class="border border-2 rounded-pill d-flex align-items-center">
      <div class="box rounded-pill d-flex justify-content-center px-3 py-2" style="flex: 1;">
        <button data-action="click->booking-status#allClicked" data-booking-status-target="all" class="btn btn-warning rounded-pill" style="font-size: 1.2rem;">All</button>
      </div>
      <div class="edge-start border-end border-2 h-75"></div>
      <div class="box rounded-pill d-flex justify-content-center px-3 py-2" style="flex: 1;">
        <button data-action="click->booking-status#pendingClicked" data-booking-status-target="pending" class="btn btn-dark rounded-pill">Pending</button>
      </div>
      <div class="edge-end border-start border-2 h-50"></div>
      <div class="box rounded-pill d-flex justify-content-center px-3 py-2" style="flex: 1;">
        <button data-action="click->booking-status#acceptedClicked" data-booking-status-target="accepted" class="btn btn-dark rounded-pill">Accepted</button>
      </div>
      <div class="edge-end border-start border-2 h-50"></div>
      <div class="box rounded-pill d-flex justify-content-center px-3 py-2" style="flex: 1;">
        <button data-action="click->booking-status#declinedClicked" data-booking-status-target="declined" class="btn btn-dark rounded-pill">Declined</button>
      </div>
      <div class="edge-end border-start border-2 h-50"></div>
      <div class="box rounded-pill d-flex justify-content-center px-3 py-2" style="flex: 1;">
        <button data-action="click->booking-status#canceledClicked" data-booking-status-target="canceled" class="btn btn-dark rounded-pill">Canceled</button>
      </div>
    </div>
  </div>
</div>
