.parent-container {
  display: grid;
  grid-template-columns: 800px 1fr;
  gap: 4rem;
  padding: 4rem;
}

.spot-photo {
  border-radius: 15px;
}

.spot-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.details {
  padding-top: 30px;
}
