.details-container {
  padding-top: 10px;
  background-color: $medium-gray;
}

.property-details {
  width: 606px;
  background-color: $pastel-gray;
  color: $white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.top-details {
  color: $black;
}

.accordion {
  background-color: $light-gray;
  color: $dark-gray;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 5px;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }


  .active, .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    padding: 5px 18px;
    background-color: $pastel-gray;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    color: $black;
  }
