.details-container {
  padding-top: 10px;
  background-color: rgb(133, 130, 130);
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}


.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 5px 18px;
  background-color: #f4f4f4;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-out;
}
