.b-main-text{
  font-size: 1.3rem;
}

.b-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.b-back{
  background-color: #fcf6ef;
}

.b-back-filmer{
  background-color: #e9f0ff;
}

.b-background-box{
  background-color: rgba(33, 37, 41, 0.19);
  background-image: url("https://cdn.pixabay.com/photo/2012/12/24/08/39/background-72250_1280.jpg");
  background-position: center;
  // background-size: cover;
  border-radius: 16px;
  box-shadow: inset -1px 1px 20px 0px #00000069;
}
