.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarSupportedContent {
  padding-right: 15px;
}

.nav-item {
  padding-right: 3px;
  &:hover {
    background-color: $pastel-gray;
    border-radius: 50px;
  }
}

.dropdown-item{
  &:hover {
    background-color: $pastel-gray;
  }
}

.side-nav{
  width: 65px;
  height: 100vh;
  position: sticky;
  top: 0;

  .nav-icon{
    font-size: 1.4rem;
  }

  .nav-pop-up{
    position: absolute;
    bottom: -10px;
    left: 57px;
    transition: transform 0.3s;
    transform: scale(0)
  }
}

@media (max-width: 768px){
  .side-nav{
    display: none !important;
  }
}

@media (min-width: 768px){
  .navbar-lewagon{
    display: none !important;
  }
}
