<%= render "components/navbar" %>
<div data-controller="nav-icons" data-action="mouseover->nav-icons#popUp" class="d-flex">
  <div class="d-flex flex-column justify-content-between">
    <%= render "components/side_navbar" %>
  </div>
  <div class="container-fluid p-0">
    <%= yield %>
  </div>
</div>
</div>
